*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fafafa;
  scroll-behavior: smooth;
}

nav ul {
  display: flex;
  background-color: rgb(250, 215, 232);
  padding: 0.5rem;
}

li {
  list-style: none;
}

.pokedex {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card {
  display: flex;
  flex-direction: column;
  shape-rendering: optimizespeed;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin: 1rem;
  background-color: rgb(255, 255, 255);
  border: 2px solid;
  border-radius: 8px;
  box-shadow: 6px 6px #080808;
}

.card:hover {
  cursor: pointer;
}

.card__header {
  padding: 1em;
  text-align: center;
}

.card__img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  padding: 8px;
}

.poke-name {
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

.poke-type {
  padding: 5px;
  display: flex;
  text-align: center;
  gap: 5px;
}

.poke-type > p {
  flex: 1;
  border: 2px solid;
}
